{% extends 'base.html' %}


{% block content %}

<h1>Ratings</h1>

<div>
    <form action="/login" method="POST">

        Username:
        <input type="text" name="username">

        Password:
        <input type="text" name="password">
        <input type="submit" name="login" value="Log in">
    </form>
    <form action="/logout">
        <input type="submit" name="logout" value="Logout">
    </form>

</div>

<h2>Movies</h2>
<p><a href="/movies"> </a>View all movies</p>

<h2>Users</h2>
<p> <a href="/users">View all users</a></p>

{% endblock %}